[submodule "janck"]
	path = janck
	url = ./janck
[submodule "netnet"]
	path = netnet
	url = ./netnet
[submodule "vk-mem-rs"]
	path = vk-mem-rs
	url = ./vk-mem-rs
[submodule "nettime"]
	path = nettime
	url = ./nettime
[submodule "fps_ticker"]
	path = fps_ticker
	url = ./fps_ticker
[submodule "gpu-video"]
	path = gpu-video
	url = ./gpu-video
